.App {
  text-align: center;
}

h1 {
  font-size: 90px;
  margin-top: 20px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.input-container {
  margin-top: 30px;
  margin-bottom: 10px;
}

.button-container {
  margin-top: 10px;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  border: 0;
  margin: 20px;
  cursor: pointer;
}

.input-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 25px;
  width: 200px;
  margin-bottom: 10px;
}
